* {
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 213, 192);
    margin: auto;

}

main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: rgb(146, 76, 97);
}

h3 {
    color: #7e4582;
    width: 95%;
    max-width: 400px;
    text-align: center;   
}

p {
    text-align: center;
}

#esittely {
    float: right;
    padding-left: 100px;
}

.topnav {
    background-color: rgba(141, 79, 194, 0.756);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #f0b7c0;
    color: white;
}

.container {
    margin: 100px auto;
    width: 75%;
}

#pääkuva {
    max-width: 300px;
    float: left;
    margin-right: 20px;
}

text {
    padding: 6px;
}

.flex_container {
    border: 3px solid #ccc;
    float: right;
    width: 88%;
}

.taulukkoteksti {
    color: rgb(146, 76, 97);
}

#teskti1, #teksti2, #teksti3 {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* mobiili */
@media only screen and
(max-width: 420px) 
{ 
    body {
        background-color: #badef5;}
    #topnav a {font-size: 1,5em;}
    #topnav {display: none;}
    #veto_valikko {text-align: left;}

}

/* keskikokoiset */
@media only screen and
(min-width: 421px) 
{
    #veto_valikko {display:none}

    .flex_container {display: flex;
        justify-content: space-around;} 
    .flex_item {flex:1;}
}

/* isot */
@media only screen and
(min-width: 1024px) 
{
    body {width: 1024px;
        margin:auto;}  
    #veto_valikko {display:none}

   .flex_container {display: flex;
    justify-content: center;} 
    .flex_item {flex:1;}
}