body {
    background-color: rgb(230, 213, 192);
    margin: auto;
}

p {
    text-align: center;
}

.topnav {
    background-color: rgba(132, 58, 196, 0.756);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #f0b7c0;
    color: white;
}

h1 {
    text-align: center;
}

#keskikuva {
    width: 25%;
    height: auto;
}

.flex_kohde {
   
}

.flex_item {
    border: 1px solid black;
    text-align: center;
}

.taulukkoteksti {
    color: #7e4582;
}

.taulukkoteksti1 {
    color: rgb(137, 78, 113);
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* mobiili */
@media only screen and
(max-width: 420px) 
{ 
    #topnav a {font-size: 1,5em;}
    #topnav {display: none;}
    #veto_valikko {text-align: left;}

}

/* keskikokoiset */
@media only screen and
(min-width: 421px) 
{
    
    #veto_valikko {display:none}

    .flex_container {display: flex;
        justify-content: space-around;} 
    .flex_item {flex:1;}
}

/* isot */
@media only screen and
(min-width: 1024px) 
{
    body {width: 1024px;
        margin:auto;}  
    #veto_valikko {display:none}

   .flex_container {display: flex;
    justify-content: center;} 
    .flex_item {flex:1;}
   }